proxy_cache_path /var/cache/nginx/cs keys_zone=cs:10m max_size=512m inactive=300s;

log_format cs '$remote_addr - $remote_user [$time_local] "$request" '
              '$status $body_bytes_sent "$http_referer" '
              '"$http_user_agent" "$http_x_forwarded_for" '
              '$request_time $upstream_response_time $pipe';

upstream cs {
  server {{cs_hypnotoad_listen}};
  keepalive {{cs_nginx_upstream_keepalive}};
}

upstream cs_flags {
  server {{cs_hypnotoad_flags_listen}};
  keepalive {{cs_nginx_upstream_keepalive}};
}

map $http_upgrade $connection_upgrade {
  ''      close;
  default upgrade;
}

map $request_uri $do_not_cache {
  "~*scoreboard.json" "0";
  default             "1";
}

server {
  listen {{cs_nginx_listen}};

  {% if 'https' == cs_base_url|urlsplit('scheme') -%}
  listen 443 ssl;
  ssl_certificate /etc/letsencrypt/live/{{ cs_base_url|urlsplit('hostname') }}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{ cs_base_url|urlsplit('hostname') }}/privkey.pem;
  {% endif %}

  access_log /var/log/nginx/cs.access.log cs;

  gzip on;
  gzip_types text/plain text/css application/javascript application/json;

  client_max_body_size 24m;
  client_body_buffer_size 8m;

  proxy_http_version 1.1;

  proxy_max_temp_file_size 0;

  proxy_set_header X-Real-IP $remote_addr;
  proxy_set_header Host $http_host;
  proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

  proxy_set_header Upgrade $http_upgrade;
  proxy_set_header Connection $connection_upgrade;

  location / {
    proxy_pass http://cs;

    proxy_cache cs;
    proxy_no_cache $do_not_cache;
    proxy_cache_valid 10s;
  }

  location /flags {
    proxy_pass http://cs_flags;
  }

  location /data {
    alias /var/www;
  }

  location = /basic_status {
    stub_status;
  }
}
