{ hypnotoad    => {listen => ['http://127.0.0.1:8080'], workers => 8},
  postgres_uri => {'postgresql://cs:qwer@127.0.0.1:5432/cs'},
  cs           => {
    base_url => 'https://example.com:8080/',
    time     => [['2017-01-18 17:00:00', '2015-04-18 17:15:00'], ['2015-04-18 17:20:00', '2020-04-18 17:25:00']],
    admin_auth     => 'root:qwer',
    ctf_name       => 'RuCTF 2015',
    round_length   => 8,
    flag_life_time => 15,
    flags_secret   => 'ohKai2eepi',
    checkers => {
      hostname => sub { my ($team, $service) = @_; "$service->{name}.$team->{host}" }
    },
    scoring => {
      start_flag_price => 10,
      heating_speed    => 1/12,
      max_flag_price   => 30,
      cooling_down     => 1/2,
      heating_flags_limit       => 1,
      cooling_submissions_limit => 1,
      dying_rounds     => 120,
      dying_flag_price => 1
    },
    links => [{name => 'Visualization', ref => '/viz'}],
    static => ['/path/to/add/static']
  },
  teams => [
    { name    => 'team1',
      network => '127.0.1.0/24',
      host    => '127.0.1.5',
      bot     => [{sla => 0.66, attack => 0.3, defense => 0.4}]
    },
    {name => 'team2', network => '127.0.2.0/24', host => '127.0.2.3'},
    {name => 'team3', network => '127.0.3.0/24', host => '127.0.3.3'}
  ],
  services => [
    {name => 'service1', path => '/home/and/tmp/cs/1.pl', timeout => 5, tcp_port => 80},
    {name => 'service2', path => '/home/and/tmp/cs/2.pl', timeout => 3, tcp_port => 80},
    {name => 'service3', path => '/bin/false',            timeout => 5, tcp_port => 80},
    {name => 'down',     path => 't/checkers/down.pl',    timeout => 1, tcp_port => 80},
    {name => 'up',       path => 't/checkers/up.pl',      timeout => 1, tcp_port => 80},
    {name => 'timeout',  path => 't/checkers/timeout.pl', timeout => 1, tcp_port => 80}
  ]
}
