{ hypnotoad => {listen => ['http://127.0.0.1:8080'], workers => 8},
  pg        => {uri    => 'postgresql://cs:qwer@127.0.0.1:5432/cs'},
  cs        => {
    base_url => 'https://example.com:8080/ructfe/1988/',
    time => {
      start => '2015-04-18 17:00:00',
      end   => '2015-04-18 17:25:00',
      break => ['2015-04-18 17:15:00', '2015-04-18 17:20:00']
    },
    score_method   => 'v2',
    admin          => {auth => 'root:qwer'},
    ctf            => {name => 'RuCTF 2015'},
    round_length   => 20,
    flag_life_time => 15,
    flags          => {port => 31337, timeout => 5 * 60},
    checkers       => {
      hostname => sub { my ($team, $service) = @_; "$service->{name}.$team->{host}" }
    }
  },
  teams => [
    {name => 'team1', network => '127.0.1.0/24', host => '127.0.1.5'},
    {name => 'team2', network => '127.0.2.0/24', host => '127.0.2.3'},
    {name => 'team3', network => '127.0.3.0/24', host => '127.0.3.3'}
  ],
  services => [
    {name => 'service1', path => '/home/and/tmp/cs/1.pl', timeout => 5, tcp_port => 80},
    {name => 'service2', path => '/home/and/tmp/cs/2.pl', timeout => 3, tcp_port => 80},
    {name => 'service3', path => '/bin/false',            timeout => 5, tcp_port => 80},
    {name => 'down',     path => 't/checkers/down.pl',    timeout => 1, tcp_port => 80},
    {name => 'up',       path => 't/checkers/up.pl',      timeout => 1, tcp_port => 80},
    {name => 'random',   path => 't/checkers/random.pl',  timeout => 1, tcp_port => 80},
    {name => 'timeout',  path => 't/checkers/timeout.pl', timeout => 1, tcp_port => 80}
  ]
}
