body {
  background: url('../background.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body, html {
  padding: 0;
  margin: 0;
}

#scoreboard table {
  border: 15px solid white;
}

/* Statuses */
.status_ {
  background-color: white;
}
.status_up {
  background-color: #8CEC8C;
}

.status_corrupt {
  background-color: #C4D8C4;
}

.status_mumble {
  background-color: #FFD68A;
}

.status_down {
  background-color: #EF8787;
}

/* Statuses descriptions */
.status_descriptions tbody tr td {
  padding: 10px 0px;
  color: #500A0A;
}

/* Scoreboard */
#scoreboard table {
  margin-top: 50px;
}

#scoreboard table > thead > tr {
  border-bottom: 10px solid white;
}

#scoreboard table > thead > tr > th {
  font-size: 16pt;  
  color: white;
  background-color: #FFB565;
}

#scoreboard table > tbody > tr > th,
#scoreboard table > thead > tr > th,
#scoreboard table > tbody > tr > td,
#scoreboard table > thead > tr > td {
  border-right-width: 0px;
  border-left-width: 0px;
  border-bottom: 5px solid transparent;
}

#scoreboard table th {
  text-align: left;
}

/* Gold, silve and bronze places */
#scoreboard table tr.team td:not(.team_service) {
  background-color: #FFB565;
}

#scoreboard table tr.team:nth-child(1) td:not(.team_service) {
  background-color: #FFE8A7;
}

#scoreboard table tr.team:nth-child(2) td:not(.team_service) {
  background-color: #D8D8D8;
}

#scoreboard table tr.team:nth-child(3) td:not(.team_service) {
  background-color: #E3B689;
}

#scoreboard table tr.team:nth-child(3) td:not(.team_service) .team_server {
  color: white;
}

/* Scoreboard's team and service */
.team {
  border-top: 10px solid white;
  border-bottom: 10px solid white;
}

.team .score,
.team .team_info,
.team .team_logo,
.team .place {
  vertical-align: middle;
}
.team .place .diff {
  font-size: 80%;
  margin-left: 5px;
  color: rgba(0,0,0,0.5);
}
.team .place .diff.up {
  color: rgba(0,255,0,0.7);
}
.team .place .diff.down {
  color: rgba(255,0,0,0.5);
}

.team .place,
.team .score,
.team .team_info {
  font-size: 16pt;
}

.team .team_logo {
  padding: 0px;
  text-align: center;
}

#scoreboard table tr.team:nth-child(-n+3) .team_logo img {
  box-shadow: 0px 0px 5px 0px rgba(212, 212, 212, 0.75);
}

.team .team_info {
  padding-left: 10px;
}

.team .place,
#scoreboard th.place {
  text-align: center;
}

#scoreboard th.service_name {
  padding-left: 10px;
}

.team .team_info .team_name {
  color: #222;
  font-weight: bold;
}
.team .team_info .team_name.big {
  font-size: 85%;
}

.team .team_info .team_server {
  color: #999;
}

.team .team_service {
  text-align: left;
  font-size: 9pt;
  padding: 10px 10px !important;
}

.team .team_service > div {
  display: table-row;
}

.team .team_service .param_name,
.team .team_service .param_value {
  display: table-cell;
}

.team .team_service .param_name {
  font-size: 13pt;
  color: rgba(0,0,0,0.4);
  padding-left: 8px;
  text-transform: lowercase;
}

.team .team_service .param_value {
  padding-left: 5px;
  font-size: 16pt;
  color: rgba(100,50,0,7);
}

#scoreboard table tr:last-child td {
  border-bottom: 1px solid #ddd;
}
