/* Statuses */
.status_up {
  background-color: #6fd6a6;
}

.status_corrupt {
  background-color: #ffef65;
}

.status_mumble {
  background-color: #f9a963;
}

.status_down {
  background-color: #e97c7c;
}

/* Statuses descriptions */
.status_descriptions tbody tr td {
  padding: 10px 0px;
  color: #500A0A;
}

#scoreboard_wrapper {
  text-align: center;
}

/* Scoreboard */
#scoreboard .table-bordered > tbody > tr > th,
#scoreboard .table-bordered > thead > tr > th,
#scoreboard .table-bordered > tbody > tr > td,
#scoreboard .table-bordered > thead > tr > td {
  border-right-width: 0px;
  border-left-width: 0px;
  border-bottom: 1px solid #ddd;
}

/* Gold, silve and bronze places */
#scoreboard table.scoreboard tr.team:nth-child(1) td:not(.team_service) {
  background-color: #FFE8A7;
}

#scoreboard table.scoreboard tr.team:nth-child(2) td:not(.team_service) {
  background-color: #D8D8D8;
}

#scoreboard table.scoreboard tr.team:nth-child(3) td:not(.team_service) {
  background-color: #E3B689;
}

#scoreboard table.scoreboard tr.team:nth-child(3) td:not(.team_service) .team_server {
  color: white;
}

/* Scoreboard's team and service */
.team .score,
.team .team_info,
.team .team_logo,
.team .place {
  vertical-align: middle;
}

.team .team_logo {
  padding: 0px;
  text-align: center;
}

#scoreboard table tr.team:nth-child(-n+3) .team_logo img {
  box-shadow: 0px 0px 5px 0px rgba(212, 212, 212, 0.75);
}

.team .team_info {
  padding-left: 10px;
}

.team .place,
#scoreboard th.place {
  text-align: center;
}

#scoreboard th.service_name {
  padding-left: 10px;
  white-space: nowrap;
}

.team .team_info .team_name {
  color: #222;
  font-weight: bold;
  max-width: 250px;
}

.team_name a {
  color: #222;
  text-decoration: underline;
}

.team .team_info .team_server {
  color: #999;
  max-width: 250px;
}

.team .team_service {
  text-align: left;
  font-size: 9pt;
  padding: 10px 10px !important;
}

.team .team_service > div {
  display: table-row;
}

.team .team_service .param_name,
.team .team_service .param_value {
  display: table-cell;
}

.team .team_service .param_name {
  font-weight: bold;
}

.team .team_service .param_value {
  padding-left: 3px;
}

#scoreboard table tr:last-child td {
  border-bottom: 1px solid #ddd;
}
