{ hypnotoad => {listen => ['http://{{cs_hypnotoad_listen}}'], workers => {{cs_hypnotoad_workers}}, accepts => {{cs_hypnotoad_accepts}}},
  pg        => {uri    => 'postgresql://{{pg_cs_user}}:{{pg_cs_pass}}@{{pg_cs_host}}:{{pg_cs_port}}/cs'},
  cs        => {
    base_url => '{{cs_base_url}}',
    time     => {
      start => '{{cs_time_start}}',
      end   => '{{cs_time_stop}}',
      break => ['{{cs_time_break_start}}', '{{cs_time_break_end}}']
    },
    admin          => {auth => '{{cs_admin_auth}}'},
    ctf            => {name => '{{cs_ctf_name}}'},
    round_length   => {{cs_round_length}},
    flag_life_time => {{cs_flag_life_time}},
    flags    => {port => 31337, timeout => 5 * 60, secret => '{{cs_flags_secret}}'},
    links => [{name => '', ref => ''}]
  },
  teams => [{{teams}}],
  services => [{{services}}]
}
