[cs-manager]
manager ansible_host=127.0.0.2 ansible_user=root

[cs-flags]
flags ansible_host=127.0.0.3 ansible_user=root

[cs-db]
db ansible_host=127.0.0.4 ansible_user=root

[cs-db-standby]
db2 ansible_host=127.0.0.8 ansible_user=root

[cs-checker]
c1 ansible_host=127.0.0.5 ansible_user=root
c2 ansible_host=127.0.0.6 ansible_user=root
c3 ansible_host=127.0.0.7 ansible_user=root

[cs:children]
cs-master
cs-flags
cs-db
cs-db-standby
cs-checker
