[Unit]
Description=CS web
After=network.target

[Service]
Type=forking
User=cs
WorkingDirectory=/home/cs/app/
PIDFile=/home/cs/app/script/hypnotoad.pid
ExecStart=/usr/local/bin/hypnotoad script/cs
ExecStop=/usr/local/bin/hypnotoad -s script/cs
ExecReload=/usr/local/bin/hypnotoad script/cs

[Install]
WantedBy=multi-user.target
